<a href="https://colab.research.google.com/github/sgtbranca/ISPC/blob/main/Copia_de_Bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejemplo de Bucle **WHILE**

In [ ]:
edad = 6
while edad<18:
  print("Tu edad es: ",edad)
  edad+=2

Tu edad es:  6
Tu edad es:  8
Tu edad es:  10
Tu edad es:  12
Tu edad es:  14
Tu edad es:  16

Ingresar 2 números y mostrar aquellos que están comprendidos entre ellos.

In [ ]:
inicial=int(input("Ingrese valor inicial: "))
final=int(input("Ingrese valor final: "))
while inicial-1>final:
  inicial-=1
  print("Número: ",inicial)

Ingrese valor inicial: 9
Ingrese valor final: 5
Número:  8
Número:  7
Número:  6

Ejemplo de Bucle **WHILE**

# Nueva sección

Ejemplo de bucle **WHILE**

In [ ]:
print("Mostrar los múltiplos de 6 comprendidos")
print(" entre 12 y 100 incluidos")
multiplo=12
while multiplo<100:
  print("Múltiplo de 6 es: ",multiplo)
  multiplo+=6

Mostrar los múltiplos de 6 comprendidos
 entre 12 y 100 incluidos
Múltiplo de 6 es:  12
Múltiplo de 6 es:  18
Múltiplo de 6 es:  24
Múltiplo de 6 es:  30
Múltiplo de 6 es:  36
Múltiplo de 6 es:  42
Múltiplo de 6 es:  48
Múltiplo de 6 es:  54
Múltiplo de 6 es:  60
Múltiplo de 6 es:  66
Múltiplo de 6 es:  72
Múltiplo de 6 es:  78
Múltiplo de 6 es:  84
Múltiplo de 6 es:  90
Múltiplo de 6 es:  96

Ejemplo bucle infinito con True

In [ ]:
while True:
  entrada=input("-> ")
  if entrada=="salir":
    print("Fin de programa")
    break
  else:
    print(entrada)

-> 9
9
-> 5
5
-> j
j
-> salir
Fin de programa

Recorrer una lista con **WHILE**

In [ ]:
deportes=["Tenis","Basquet","Ping Pong","Futbol","Volley"]
i= 0
while i <len(deportes):
  print(i)
  i+=1

0
1
2
3
4

Ejemplo de bucle **FOR**

¿Qué almacena la variable i?
¿Cuántas veces se repite el ciclo for?

In [ ]:
deportes=["Tenis","Basquet","Ping Pong","Futbol"]
for i in deportes:
  print(deportes)

['Tenis', 'Basquet', 'Ping Pong', 'Futbol']
['Tenis', 'Basquet', 'Ping Pong', 'Futbol']
['Tenis', 'Basquet', 'Ping Pong', 'Futbol']
['Tenis', 'Basquet', 'Ping Pong', 'Futbol']

In [ ]:
for i in ("Tenis","Basquet","Ping Pong","Futbol"):
  print(i)

Tenis
Basquet
Ping Pong
Futbol

Otros ejemplos con for

In [ ]:
email=False
for i in "jlopezvalente@ispc.com.ar":
  if i=="@":
    email=True
    
if email==True:
  print("Email correcto")
else:
  print("Email incorrecto")

Email correcto

In [ ]:
mail="jlopezvalente@ispc.com.ar"
indice=0
for i in mail:
  print(mail[indice])
  indice+=1

j
l
o
p
e
z
v
a
l
e
n
t
e
@
i
s
p
c
.
c
o
m
.
a
r

Uso de **RANGE**

In [ ]:
indice=["Tenis","Basquet","Ping Pong","Futbol"]
for i in range(len(indice)):
  print(f"El valor de i es : {i}")

El valor de i es : 0
El valor de i es : 1
El valor de i es : 2
El valor de i es : 3

In [ ]:
for i in range(7,13):
  print(f"El valor de i es : {i}")

El valor de i es : 7
El valor de i es : 8
El valor de i es : 9
El valor de i es : 10
El valor de i es : 11
El valor de i es : 12

Que sucede si ejecutamos con los valores de **range** de manera inversa

In [ ]:
for i in range(13,7):
  print(f"El valor de i es : {i}")

In [ ]:
for i in range(50,-22,-7):
  print(f"El valor de i es : {i}")

El valor de i es : 50
El valor de i es : 43
El valor de i es : 36
El valor de i es : 29
El valor de i es : 22
El valor de i es : 15
El valor de i es : 8
El valor de i es : 1
El valor de i es : -6
El valor de i es : -13
El valor de i es : -20

Que sucede si ejecutamos con los valores de **range** de manera inversa

In [ ]:
for i in range(50,2,7):
  print(f"El valor de i es : {i}")

In [ ]:
from collections import deque
turno= deque (["0","X"])
tablero= [
          [" "," "," "],
          [" "," "," "],
          [" "," "," "]
          ]

def mostrar_tablero():
      print (" ")
      for fila in tablero:
          print (fila)

def juego ():
  mostrar_tablero()
  jugador = rotar_turno()
  while True:
          posicion = input ("Juega X. Elige una posicion fila, columna de 1a 3")
          if posicion == 'salir':
            break